.u-section-1 {
  background-image: url("https://cdn.glitch.com/85492dbb-5862-44ae-b4fc-3879e4c84cd3%2F8c88dc9b-2f6a-9af7-6d74-53d4a8113bd3.jpeg?v=1621808903494");
}

.u-section-1 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 483px;
  animation-duration: 3000ms;
  margin: 575px -52px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-image-1 {
    width: 222px;
    height: 443px;
    margin-top: 615px;
  }
}
